#export("erpcp", "mercury", "mscorev", "multrnks", "newurks", "senmw", "senmwCI", "separable1k")
export("mscorev", "multrnks", "newurks", "senmw", "senmwCI", "separable1k")
importFrom("stats", "pnorm", "qnorm", "quantile", "uniroot")
